@import "../../../public/styles.scss";

.board {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;

    .skillsGroup {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
        gap: 1rem;
        padding: 1rem;
        border: 2px solid $white;
        background-color: $white;
        border-radius: 1rem;

        .skillsList {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 0.5rem;
        }
    }
}

.card {
    align-items: center;
    border-radius: 0.5rem;
    box-shadow: 0 2px 8px rgba(black, 0.2);
    display: flex;
    font-size: 0.85rem;
    justify-content: center;
    line-clamp: 1;
    overflow: hidden;
    padding: 0.5rem 1rem;
    position: relative;

    &::before {
        content: "";
        background: rgba(white, 0.1);
        height: 100%;
        transform-origin: bottom center;
        pointer-events: none;
        position: absolute;
        right: 0;
        top: 0;
        transform: translate(50%, -50%) rotate(30deg);
        transition: transform 200ms, background 200ms;
        width: 300%;
    }

    &:hover::before {
        background: rgba(white, 0.3);
        transform: translate(calc(50% - 1rem), calc(-50% + 1rem)) rotate(30deg);
    }

    .title {
        display: block;
        overflow: hidden;
        text-align: center;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;
        word-break: keep-all;
    }
}
