@import "../../public/styles.scss";

.wrapper {
    margin: 0 auto;
    max-width: 1400px;
    padding: 0 1rem;
    width: 100%;
    @include fromMobile {
        padding: 0 1.5rem;
    }
    @include fromTablet {
        padding: 0 2rem;
    }

    &.centered {
        padding-top: 10rem;
        padding-bottom: 5rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 1.5rem;
    }
}

.pageWrapper {
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.5rem;
}
