@import "../../stylesLibrary.scss";

.container {
    span {
        font-family: monospace;
        font-size: 3rem;
        font-weight: bold;
        opacity: 0.5;
        &.isComputedItem {
            opacity: 1;
        }
    }
}
