$white-400: #f5f5f5;
$white-500: #ececec;
$white-600: #e2e2e2;

$gray-400: #cccccc;
$gray-500: #b3b3b3;
$gray-600: #999999;

$black-400: #333333;
$black-500: #1a1a1a;
$black-600: #000000;

$blue-400: #dbeeff;
$blue-500: #b3d8ff;
$blue-600: #8cc1ff;

$green-400: #daf5e9;
$green-500: #b6ebd3;
$green-600: #92e0bd;

$yellow-400: #fff7d6;
$yellow-500: #ffec99;
$yellow-600: #ffe066;

$pink-400: #fde6ef;
$pink-500: #fabed4;
$pink-600: #f894ba;

$neutral-400: #f0f0f0;
$neutral-500: #d9d9d9;
$neutral-600: #c2c2c2;

$mobileScreenSize: 576px;
$tabletScreenSize: 768px;
$laptopScreenSize: 992px;
$desktopScreenSize: 1200px;

@mixin fromMobile {
    @media (min-width: $mobileScreenSize) {
        @content;
    }
}
@mixin fromTablet {
    @media (min-width: $tabletScreenSize) {
        @content;
    }
}
@mixin fromLaptop {
    @media (min-width: $laptopScreenSize) {
        @content;
    }
}
@mixin fromDesktop {
    @media (min-width: $desktopScreenSize) {
        @content;
    }
}

@mixin tillMobile {
    @media (max-width: calc($mobileScreenSize - 1px)) {
        @content;
    }
}
@mixin tillTablet {
    @media (max-width: calc($tabletScreenSize - 1px)) {
        @content;
    }
}
@mixin tillLaptop {
    @media (max-width: calc($laptopScreenSize - 1px)) {
        @content;
    }
}
@mixin tillDesktop {
    @media (max-width: calc($desktopScreenSize - 1px)) {
        @content;
    }
}

@mixin inMobile {
    @media (min-width: $mobileScreenSize) and (max-width: calc($tabletScreenSize - 1px)) {
        @content;
    }
}
@mixin inTablet {
    @media (min-width: $tabletScreenSize) and (max-width: calc($laptopScreenSize - 1px)) {
        @content;
    }
}
@mixin inLaptop {
    @media (min-width: $laptopScreenSize) and (max-width: calc($desktopScreenSize - 1px)) {
        @content;
    }
}
