@import "../../stylesLibrary.scss";

.container {
    background: $white_500;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    overflow: hidden;
    position: relative;
    transition: outline 100ms;
    width: 500px;
    &:focus-visible {
        outline: 4px solid $secondary_200;
    }
    .segment {
        align-items: center;
        color: black;
        cursor: default;
        display: flex;
        flex: 1;
        justify-content: center;
        padding: 6px;
        position: relative;
        transition: color 100ms;
        white-space: nowrap;
        word-break: keep-all;
        z-index: 100;
        &:not(.active):hover {
            color: $black_200;
            cursor: pointer;
        }
    }
    .separator {
        border-right: 1px solid rgba($black_200, 0.3);
        pointer-events: none;
        position: absolute;
        transform: translateX(-50%);
        z-index: 5;
    }
    .highlight {
        background: $white_400;
        box-shadow: 0 0px 18px rgba(77, 77, 77, 0.5);
        overflow: hidden;
        position: absolute;
        transition: left 200ms;
        z-index: 10;
    }
}
