@import "../../../stylesLibrary.scss";

.container {
    display: grid;
    gap: 48px;
    grid-template-columns: 72px 1fr;
    height: 100%;
    padding: 12px;
    width: 100%;
    @include forMobile {
        padding: 16px;
    }
    @include forLaptop {
        padding: 32px;
    }
    @include forDesktop {
        padding: 48px;
    }

    .tracker {
        background-color: $main_200;
        border-radius: 8px;
        height: 100%;
        width: 100%;
    }
    .content {
        display: flex;
        flex-direction: column;
        gap: 48px;
        justify-content: flex-start;
        width: 100%;
    }
}
