@import "../../../stylesLibrary.scss";

.container {
    display: grid;
    grid-template-columns: 1fr 72px;
    height: 100dvh;
    max-height: 100dvh;
    min-height: 100dvh;
    .content {
        overflow-y: scroll;
        width: 100%;
    }
}
